<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="API_FILE" class="ch.qos.logback.core.FileAppender">
        <file>target/logs/api-response.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="API_RESPONSE_LOG" level="INFO" additivity="false">
        <appender-ref ref="API_FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="API_FILE"/>
    </root>

</configuration>